table {
    margin: auto;
    border-collapse: collapse;

}
 
td {
    height: 2cm;
    width: 2cm;
    text-align: center;
    font-weight: bolder;
}

.kov1 {
    background-color: red;
}
.kov2 {
    background-color: orange;
}
.kov3 {
    background-color:plum;
}
.kov4 {
    background-color: lightskyblue;
}
.kov5 {
    background-color:aqua ;
}
.kov6 {
    background-color: lightgreen;
}
.kov7 {
    background-color:blue;
}
.kov8 {
    background-color:  yellow ;
}

.cislo {
    background-color: white;
}

.invis {
    border-color: white;
}
.zluta {
    background-color: yellow;
    border: 2px solid black;
}
.red {
    background-color: red;
    border: 2px solid black;
}
.blue {
    background-color: blue;
    border: 2px solid black;
}
.green {
    background-color: lightgreen;
    border: 2px solid black;
}
.lightblue {
    background-color: lightskyblue;
    border: 2px solid black;
}
.orange {
    background-color: orange;
    border: 2px solid black;
}
.aqua {
    background-color: aqua;
    border: 2px solid black;
}
.purple {
    background-color: plum;
    border: 2px solid black;
}
h1 {
    color: blue;
    text-align: center;
}
.lanthanoidy {
    border: 2px solid black;
}
.aktinoidy {
    border: 2px solid black;
}
